body {
    color: #fff;
    background-image: linear-gradient(135deg, #0212f8, #1a1a1b);
    background-size:500%; /* Aumenta el tamaño del fondo para dar espacio a la animación */
    position: relative;
    animation: cambioDeFondo 10s linear infinite; /* Aplicar la animación */
  }
  
  @keyframes cambioDeFondo {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  
  /* styles.css */
  
  .container {
    width: 900px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 6px solid #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(146, 15, 15, 0.1);
   background-color:rgba(255, 255, 255, 0);
  }
  
  .form-group {
    position: absolute;
    top: 35%;
    left: 33%;
    color: aliceblue;
  }
  
  .form-group2 {
   
    position: absolute;
    top: 60%;
    left: 32.5%;
    color: rgb(255, 255, 255);
  }
  
  .form-group3 {
    
    color: aliceblue;
    position: absolute;
    top: 35%;
    left:65%;
   
  }

  .form-group4 {
    
    color: aliceblue;
    position: absolute;
    top: 55%;
    left: 65%;
   
  }
  
  .Titulo{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10%; 
    left: 35%;
    font-size: 60px;
  
  
  }
  .subtitulo {
    position: absolute;
    top: -20%;
    left: -45%;
  }
  
  .subtitulo2 {
    position: absolute;
    top: -20%;
    left: -45%;
  }
  
  .subtitulo3 {
    position: absolute;
    top: -20%;
    left: -45%;
  }
  
  .subtitulo4 {
    display: block;
    margin-bottom: 5px;
     position: relative;
    top: 20px; 
    left: -185px;
  }
  
  input {
    width: 190px;
    padding: 8px;
    position: relative;
    top: 20px;
    left: -100px;
    border: 5px solid #252525;
    border-radius: 3px;
    transition: width 0.3s;
  }
  
  input:focus{
    width: 300px;
  }
  
  
  button {
    background-color: #000000;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 45%;
    transition: background-color 0.3s ease, transform 0.5s, padding 0.3s;/* Transición suave del color de fondo */
  }
  
  button:hover {
    background-color: #4caf50; /* Color de fondo verde al pasar el cursor */
    transform: scale(1.1); /* Aumenta el tamaño al 110% del tamaño original */
    padding: 12px 24px;
  }
  
  
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .sucess{
    color: green;
    margin-top: 10px;
  }
  